# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Model checkpoints / local training artifacts
*.pth
*.ckpt

# Local caches
cache/

# Hugging Face cache
.huggingface/
hf_cache/

# Temporary / generated junk
*.tmp
*.log

# Ignore massive dataset
002_lora/gpt_data/tiny_stories.txt